<div class="container-agenda">
  <h1>Agenda de Viagens</h1>

  <form [formGroup]="formularioViagem" (ngSubmit)="enviarFormulario()" class="formulario-agenda">


    <div class="grupo-formulario">
      <label for="destino">Destino*</label>
      <select id="destino" formControlName="destino" [class.erro]="destino?.invalid && destino?.touched"
        class="controle-formulario">
        <option value="">Selecione um destino</option>
        <option *ngFor="let destino of destinos" [value]="destino">
          {{ destino }}
        </option>
      </select>

      <div *ngIf="destino?.invalid && destino?.touched" class="mensagem-erro">
        <div *ngIf="destino?.errors?.['required']">
          Destino é obrigatório
        </div>
      </div>
    </div>


    <div class="grupo-formulario">
      <label for="dataIda">Data de Ida*</label>
      <input type="date" id="dataIda" formControlName="dataIda" [class.erro]="dataIda?.invalid && dataIda?.touched"
        class="controle-formulario">

      <div *ngIf="dataIda?.invalid && dataIda?.touched" class="mensagem-erro">
        <div *ngIf="dataIda?.errors?.['required']">
          Data de ida é obrigatória
        </div>
      </div>
    </div>


    <div class="grupo-formulario">
      <label for="dataVolta">Data de Volta*</label>
      <input type="date" id="dataVolta" formControlName="dataVolta"
        [class.erro]="(dataVolta?.invalid || formularioViagem.errors?.['dataInvalida']) && dataVolta?.touched"
        class="controle-formulario">

      <div *ngIf="dataVolta?.invalid && dataVolta?.touched" class="mensagem-erro">
        <div *ngIf="dataVolta?.errors?.['required']">
          Data de volta é obrigatória
        </div>
      </div>

      <div *ngIf="formularioViagem.errors?.['dataInvalida'] && dataVolta?.touched" class="mensagem-erro">
        A data de volta deve ser posterior à data de ida
      </div>
    </div>

    <div class="grupo-formulario">
      <label for="passageiros">Número de Passageiros*</label>
      <input type="number" id="passageiros" formControlName="passageiros" min="1" max="5"
        [class.erro]="passageiros?.invalid && passageiros?.touched" class="controle-formulario">

      <div *ngIf="passageiros?.invalid && passageiros?.touched" class="mensagem-erro">
        <div *ngIf="passageiros?.errors?.['required']">
          Número de passageiros é obrigatório
        </div>
        <div *ngIf="passageiros?.errors?.['min'] || passageiros?.errors?.['max']">
          O número de passageiros deve estar entre 1 e 5
        </div>
      </div>
    </div>


    <div class="grupo-formulario">
      <label for="email">E-mail de Contato*</label>
      <input type="email" id="email" formControlName="email" placeholder="exemplo@dominio.com"
        [class.erro]="email?.invalid && email?.touched" class="controle-formulario">

      <div *ngIf="email?.invalid && email?.touched" class="mensagem-erro">
        <div *ngIf="email?.errors?.['required']">
          E-mail é obrigatório
        </div>
        <div *ngIf="email?.errors?.['email']">
          Insira um e-mail válido
        </div>
      </div>
    </div>


    <button type="submit" class="botao-enviar" [disabled]="formularioViagem.invalid">
      Enviar Reserva
    </button>

    <div class="status-formulario">
      <small [class.valido]="formularioViagem.valid" [class.invalido]="formularioViagem.invalid">
        Status: {{ formularioViagem.valid ? 'Formulário válido' : 'Formulário inválido' }}

      </small>
      <small>
        <p>* indica campos obrigatórios</p>
      </small>
    </div>
  </form>
</div>